# Main setup
TOKEN=
PREFIX=
OWNER_ID=

# AI providers (set the key for whichever provider you use)
GROQ_API_KEY=
HUGGINGFACE_API_KEY=
NVIDIA_NIM_API_KEY=

# Music configuration
# Note: use selfbot on alt account to use music features
# Note: Use lavalink v4
LAVALINK_WS=ws://ip:port/v4/websocket
LAVALINK_REST=http://ip:port/v4
LAVALINK_PASSWORD=
CLIENT_NAME=anything
